/* Global variables */
:root {
  --small-card-height: 150px;
  --small-card-width: 400px;
  --aside-border-color: darkblue;
  --card-text-background-color: lightblue;
  --card-border-color: lightblue;
  --text-shadow-color: #ababab;
  --header-background-color: #31343d;
  --header-name-color: #31343d;
  --header-name-background-color: lightblue;
  --header-link-color: lightblue;
  --aside-font-size: 35px;
  --card-link-color: black;
  --top-image-background-color: #00192c;
}

body {
  min-width: 700px;
}

/* Add flex and margin to all containers that need it. */
article,
aside,
section {
  display: flex;
  margin: 10px;
}

/* Header section */
header {
  align-items: center;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
}

header > div {
  width: 500px;
}

#avatar {
  padding: 10px;
}

/* Article */
article {
  flex-wrap: wrap;
}

article > p {
  margin-right: 15%;
}

/* Aside */
aside {
  border-right: 5px solid var(--aside-border-color);
  flex: 0 0 10%;
  flex-direction: column;
  margin-left: 10px;
  max-width: 200px;
  min-width: 140px;
}

aside > p {
  font-size: var(--aside-font-size);
  margin-right: 10px;
  text-align: right;
  text-shadow: 3px 3px 3px var(--text-shadow-color);
}

/* Footer */
footer > section > article {
  justify-content: space-evenly;
  width: 80%;
}

footer > section > article > a {
  font-family: "Noto Sans", sans-serif;
}

footer > section > article {
  align-items: center;
}

footer > section > aside > p {
  font-family: "Noto Sans", sans-serif;
}

/* H1 */
h1 {
  background-color: var(--header-name-background-color);
  color: var(--header-name-color);
  font-family: "Tilt Neon", sans-serif;
  font-size: 50px;
  padding: 5px;
  text-align: right;
}

/* Nav */
nav {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 50px;
  position: relative;
  width: 500px;
}

nav > a,
footer > section > article > a {
  color: currentColor;
  font-family: "Young Serif", serif;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

nav > a {
  color: var(--header-link-color);
}

nav > a::before,
footer > section > article > a::before {
  background: currentColor;
  bottom: -5px;
  content: "";
  height: 3px;
  left: -5%;
  position: absolute;
  right: -5%;
  z-index: 0;
}

/* About Me Section */
#about-me > aside > p {
  font-family: "Sofia", sans-serif;
}

#about-me {
  font-family: "Inconsolata", monospace;
}

#about-me > article > p {
  font-weight: bold;
  margin: 5px;
}

/* Work */
#work > aside > p {
  font-family: "Roboto", sans-serif;
}

/* Card */
.card > a {
  align-items: flex-start;
  border: 5px solid var(--card-border-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
  opacity: 80%;
  text-decoration: none;
  color: var(--card-link-color);
}

.card > a:visited {
  color: var(--card-link-color);
}

.card > a:hover {
  opacity: 100%;
}

.card a > div {
  background-color: var(--card-text-background-color);
  margin-bottom: 5%;
}

.card a > div > h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 20px 5px 20px;
}

.card a > div > h3 {
  font-size: 15px;
  margin: 10px 20px 10px 20px;
}

.large-card > a {
  height: 300px;
  width: 819px;
}

.small-card > a {
  height: var(--small-card-height);
  width: var(--small-card-width);
}

#main-card > a {
  background-image: url("https://srvidales.github.io/a-web-dev-portfolio/assets/img/photo-large-1.jpg");
}

#challenge1 > a {
  background-image: url("https://srvidales.github.io/a-web-dev-portfolio/assets/img/photo-small-1.jpg");
}

#challenge2 > a {
  background-image: url("https://srvidales.github.io/a-web-dev-portfolio/assets/img/photo-small-2.jpg");
}

#challenge3 > a {
  background-image: url("https://srvidales.github.io/a-web-dev-portfolio/assets/img/photo-small-3.jpg");
}

#challenge4 > a {
  background-image: url("https://srvidales.github.io/a-web-dev-portfolio/assets/img/photo-small-4.jpg");
}

/* Top Image */
#top-image {
  align-items: center;
  background-color: var(--top-image-background-color);
  display: flex;
  justify-content: center;
}

#top-image > img {
  max-height: 100%;
  max-width: 100%;
  opacity: 80%;
}

@media screen and (max-width: 1480px) {
  header {
    height: 150px;
  }
}

/* Media Queries */
@media screen and (max-width: 1030px) {
  h1 {
    font-size: 30px;
    width: 300px;
  }
  nav > a {
    font-size: 15px;
  }
  footer > section > article > a {
    font-size: 15px;
  }
  aside {
    margin-left: 5px;
  }
  aside > p {
    font-size: 25px;
  }
  .large-card > a {
    background-size: cover;
    height: var(--small-card-height);
    width: var(--small-card-width);
  }
  header {
    height: 80px;
  }
}
